{%extends 'base.html'%}

{% block title%}
Profile page
{%endblock%}

{% block body%}
<a href="profile" class='d-flex justify-content-end'>Profile</a>
<h1>All costs!!</h1>

<div id="general">
</div>
<br><br>
<br>
<script>
    const data = JSON.parse({{data|default("")|tojson}});
    var text = "";
    for (var category in data) {
        text += "<br>\n" +
            "<form method=\"POST\" action=\"category\">\n" +
            "    <input type=\"hidden\" id=\"id\" name=\"id\" value=\"" + data[category]['id'] + "\"/>\n" +
            "    <input type=\"submit\" value=\"" + data[category]['title'] + "\">\n" +
            "</form>\n" +
            "<br>"
        for (var cost in data[category]['costs']) {
            text += "<form method=\"POST\" action=\"cost\">\n" +
                "    <input type=\"hidden\" id=\"cost_id\" name=\"cost_id\" value=\"" + data[category]['costs'][cost]['id'] + "\">\n" +
                "    <input style=\"margin-left: 33px\" type=\"submit\" value=\"" + data[category]['costs'][cost]['money'] + "\">\n" +
                "</form>\n" +
                "<br>"
        }

    }
    document.getElementById("general").innerHTML = text;
</script>
{%endblock%}