{%extends 'base.html'%}

{% block title%}
Category
{%endblock%}

{% block body%}
<a href="profile" class='d-flex justify-content-end'>Profile</a>

<h1 id="category"></h1>
<b id="category_description"></b>
<br><br>
<form method="POST" action="delete_category" id="delete_category">
    <input type="button" onclick="deleteCategory()" style='background-color:red' value="DELETE WITH ALL COST"/>
</form>
<form method="POST" action="update_category" id="update_category">
    <input type="hidden" id="category_id" name="category_id"/>
    <input type="hidden" id="title" name="title"/>
    <input type="hidden" id="description" name="description"/>
    <input type="hidden" id="from_category_page" name="from_category_page" value=1/>
    <input type="submit" style='background-color:green' value="Update"/>
</form>
<br>
<p id="costs"></p>
<br>
<form method="POST" action="create_cost" id="create_cost">
</form>
<br>
<div id="buttons"></div>
<script>
    const data = JSON.parse({{data|default("")|tojson}});
    document.getElementById("category_id").value = data["id"]
    document.getElementById("title").value = data["title"]
    document.getElementById("description").value = data["description"]
    var text = "";
    data['costs'].forEach(function (obj) {
        text += "<form method=\"POST\" action=\"/cost\">\n"
        text += "<input type=\"hidden\" id=\"id\" name=\"id\ value=\"" + obj['id'] + "\">\n"
        text += "<input type=\"submit\" value=\"" + obj["money"] + "\" />\n"
        text += "</form>\n"

    })
    document.getElementById("category").innerHTML = "Category: " + data['title'].toString();
    document.getElementById("category_description").innerHTML = "Description: " + data['description'].toString();
    document.getElementById("costs").innerHTML = text;
    create_cost = '    <input type="hidden" id=\"category_id\" name=\"category_id\" value="'+ data['id'] + '">\n' +
                  '    <input type="submit" value="Create cost"/>\n'
    document.getElementById("create_cost").innerHTML = create_cost;

    function deleteCategory() {
        if (confirm('Are you sure you want to delete this category with all attached costs?')) {
            document.getElementById("delete_category").innerHTML = '<input type="hidden" id=\"category_id\" name=\"category_id\" value="' + data.id + '">'
            document.forms["delete_category"].submit();
        }
    }

</script>
{%endblock%}
