{%extends 'base.html'%}

{% block title%}
Category
{%endblock%}

{% block body%}
<a href="profile" class='d-flex justify-content-end'>Profile</a>

<h1 id="cost"></h1>
<b id="cost_description"></b>
<b id="creation_datetime"></b>
<br><br>
<form method="POST" action="delete_cost" id="delete_cost">
    <input type="button" onclick="deleteCost()" style='background-color:red' value="delete"/>
</form>
<form method="POST" action="update_cost" id="update_cost">
    <input type="hidden" id="cost_id" name="cost_id"/>
    <input type="hidden" id="money" name="money"/>
    <input type="hidden" id="description" name="description"/>
    <input type="hidden" id="from_cost_page" name="from_cost_page" value=1/>
    <input type="submit" style='background-color:green' value="update"/>
</form>
<br>
<form method="POST" action="create_cost" id="create_cost">
</form>
<br>
<div id="buttons"></div>
<script>
    const data = JSON.parse({{data|default("")|tojson}});
    document.getElementById("cost_id").value = data["id"]
    document.getElementById("money").value = data["money"]
    document.getElementById("description").value = data["description"]
    document.getElementById("cost").innerHTML = "Cost: " + data['money'].toString();
    document.getElementById("cost_description").innerHTML = "Description: " + data['description'].toString();
    document.getElementById("creation_datetime").innerHTML = "Creation datetime: " + data['creation_datetime'].toString();

    function deleteCost() {
        if (confirm('Are you sure you want to delete this cost?')) {
            document.getElementById("delete_cost").innerHTML = '<input type="hidden" id=\"cost_id\" name=\"cost_id\" value="' + data.id + '">'
            document.forms["delete_cost"].submit();
        }
    }

</script>
{%endblock%}
