{%extends 'base.html'%}

{% block title%}
Create category
{%endblock%}

{% block body%}
<a href="profile" class='d-flex justify-content-end'>Profile here</a>

<h1>Create new cost</h1>

<form method="POST" action="/create_cost">
  <input type="hidden" id="category_id" name="category_id"/>
  <label for="money">Money: </label>
  <input type="number" step="0.01" id="money" name="money">
  <label for="description">Description: </label>
  <input type="text" id="description" name="description"><br><br>
  <input type="submit" value="Create">
</form>

<script>
    const data = JSON.parse({{data|default("")|tojson}});
    document.getElementById("category_id").value = data["category_id"]
</script>
{%endblock%}
