{%extends 'base.html'%}

{% block title%}
Log in
{%endblock%}

{% block body%}
<script>
  const data = JSON.parse({{data|default("")|tojson}});
  if(data.exeption) {
    alert(data.exep);
  }
</script>

<h1>Log in</h1>

<form method="POST" action="/log_in">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>
<br>
<a href="sign_up">Sing up</a>
{%endblock%}