{%extends 'base.html'%}

{% block title%}
Profile page
{%endblock%}

{% block body%}
<a href="log_out" class='d-flex justify-content-end'>Log out</a>
<h1>Your profile!!</h1>

<form action="all_costs">
    <input type="submit" value="get ALL costs"/>
</form>

<form action="create_category">
    <input type="submit" value="Create category"/>
</form>
<br>
<div id="buttons"></div>
<!--<a href="create_category">Create category</a>-->
<script>
    const data = JSON.parse({{data|default("")|tojson}});
    var text = "";
    for (var id in data) {
        text += "<form method=\"POST\" action=\"/category\">\n"
        text += "<input type=\"hidden\" id=\"id\" name=\"id\" value=\"" + data[id] + "\">\n"
        text += "<input type=\"submit\" value=\"" + data[id]["title"] + "\" />\n"
        text += "</form>\n"
    }
    document.getElementById("buttons").innerHTML = text;
</script>
{%endblock%}