{%extends 'base.html'%}

{% block title%}
Create category
{%endblock%}

{% block body%}
<a href="profile" class='d-flex justify-content-end'>Profile here</a>

<h1>Update cost</h1>

<form method="POST" action="/update_cost">
  <label for="money">Money:</label>
  <input type="text" id="money" name="money"><br><br>
  <label for="description">Description:</label>
  <input type="text" id="description" name="description"><br><br>
  <input type="hidden" id="cost_id" name="cost_id"><br><br>
  <input type="submit" value="Update">
</form>

<script>
  const data = JSON.parse({{data|default("")|tojson}});
  document.getElementById("money").value = data["money"]
  document.getElementById("description").value = data["description"]
  document.getElementById("cost_id").value = data["cost_id"]
</script>


{%endblock%}
